#about{
  padding-top: 50px;
  .heading{
    font-weight: bold;
    font-size: 30px;
    line-height: 51px;
    margin-bottom: 54px;
  }
  .desc{
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #555;
  }
}