#about{
  padding-top: 50px;
  .heading{
    font-weight: bold;
    font-size: 30px;
    line-height: 51px;
    margin-bottom: 54px;
  }
  .desc{
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #555;
  }
  .prem1,
  .prem2,
  .prem3,
  .prem4
  {
    padding-top: 50px;
    text-align: center;
  }
  .title{
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    span{
      display: block;
    }
  }
}