#calcform{
  width: 537px;
  margin-top: 50px;
  border-radius: 9px;
  .btn-w{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    .btn{
      width: 230px;
      &.animation{
        animation: 0.5s fadeFromBot ease-in-out forwards;
      }
    }
  }
}
@keyframes fadeFromBot {
  0%{ bottom:-5px;}
  50%{ bottom:5px;}
  100%{bottom: 0;}
}

.calc-w{
  position: relative;
}

.tabform{
  border-radius: 6px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.tabs_label{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #EBEBEB;
  border-radius: 11px 11px 0 0;
  &:after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -11px;
    background: #fff;
    width: 269px;
    border-radius: 11px 11px 0 0;
    height: 64px;
    transition: 0.5s all ease-in-out;
  }
  &.second{
    &:after{
      transition: 0.5s all ease-in-out;
      left: 268px;
    }
  }
}
.tab_label{
  width: 268px;
  font-size: 18px;
  line-height: 12px;
  color: #949494;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  height: 50px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  padding-bottom: 3px;
  span{
    opacity: 0.3;
    transition: 0.3s all;
  }
  &>div{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12px;
    transition: top .5s;
  }
  &:hover{
    color: #797979;
    transition: color 0.3s;
    span{
      opacity: .5;
      transition: 0.3s all;
    }
  }
  &.active{
    font-weight: bold;
    font-size: 21px;
    line-height: 12px;
    color: #000;
    transition: 0.5s color;
    span{
      opacity: 1;
      transition: 0.3s all;
    }
    &>div{
      position: absolute;
      top:7px;
      transition: top 0.5s;
    }
  }
  &:first-child{
    border-radius: 11px 0 11px 0;
  }
  &:first-child.active{
    border-radius: 11px 11px 0 0;
  }
  &:last-child{
    border-radius: 0 11px 0 11px;
  }
  &:last-child.active{
    border-radius: 11px 11px 0 0;
  }
}

.tab_content{
  position: relative;
  top: -7px;
  margin-bottom: -7px;
  display: none;
  background: transparent;
  padding: 36px 25px 1px;
  transition: 0.5s all;
  z-index: 3;
  &.active{
    display: block;
    animation: 0.5s fadeInRight2 forwards;
  }
  &:first-child{
    border-radius: 0 11px 0 0;
    transition: 0.5s all;
  }
  &:last-child{
    border-radius: 11px 0 0 0;
    transition: 0.5s all;
  }
}


.tabform-footer{
  background: #fff;
  padding: 0 25px 25px;
  border-radius: 0 0 11px 11px;
  .info-line{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.count_text,
.sum_text{
  color: #393939;
  font-size: 14px;
  text-transform: lowercase;
  font-weight: 500;
}
.count_num,
.sum_num
{
  color: #393939;
  font-size: 14px;
  font-weight: 500;
}
.sum_num b{
  font-size: 24px;
}

.btn-add-to-price{
  text-decoration: none;
  color: $orange;
  font-size: 14px;
  font-weight: 500;
}
.btn-add-to-price {
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.btn-add-to-price:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -3px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: $orange;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.btn-add-to-price:hover:after {
  width: 100%;
  left: 0;
}


.tab_content .custom-select{
  margin-bottom: 20px;
}

.custom-select__option-wrap {
  max-height: 18.25rem;
}

@media (min-width:1025px) and (max-width:1180px) {
  #calcform{
    width: 479px;
  }
  .tab_label{
    width: 238px;
    font-size: 16px;
  }
  .tabs_label:after{
    width: 238px;
  }
  .tabs_label.second:after{
    left: 241px;
  }
  .tab_label.active{
    font-size: 19px;
  }
  #calcform .btn-w .btn{
    width: 205px;
  }
  .calc-w{
    display: flex;
    justify-content: flex-end;
  }
} /*media 1025-1180*/

@media (min-width:769px) and (max-width:1024px) {
  .calc-w{
    display: flex;
    justify-content: center;
  }
} /*media 769-1024*/

@media (min-width:481px) and (max-width:768px) {

} /*media 481-768*/

@media (max-width:768px) {
  .calc-w{
    display: flex;
    justify-content: center;
  }
  #slider{
    height: auto;
    padding-bottom: 40px;
  }
  #calcform{
    width: 100%;
    margin-top: 40px;
  }
  .tab_label{
    width: 50%;
    font-size: 14px;
    &.active{
      font-size: 14px;
      &>div{
        top: 0;
        position: relative;
      }
    }
    &>div{
      top: 0;
      position: relative;
    }
  }
  .tabs_label:after{
    width: 50%;
  }
  .tabs_label.second:after{
    left: 50%;
  }
  #calcform .btn-w{
    flex-direction: column;
    .btn-orange{
      margin-bottom: 15px;
    }
  }
} /*media max 480*/
