.cat_header {
  padding-bottom: 30px;
}

.cat_header--header {
  display: flex;
  align-items: center;
  margin-top: 17px;
  flex-wrap: wrap;

  h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 51px;
    text-transform: uppercase;
    margin-right: 48px;
  }
}

.catalog_content {

}

.breadcrumb {
  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li {
      color: #BBBBBB;
      margin-right: 15px;
      font-size: 13px;
      line-height: 16px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;

      a {
        color: #BBBBBB;
        position: relative;
        padding-right: 30px;
        font-size: 13px;
        line-height: 16px;
        text-decoration: none;

        &:after {
          @include pseudo("bc-arr.svg", 17, 18, 0, null, 0);
        }
      }
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 30px;
  position: relative;
  margin-bottom: 80px;

  .card {
    box-sizing: border-box;
    min-height: 368px;
    border: 2px solid #fff;
    background: #fff;
    border-radius: 9px;
    transition: 0.3s all;
    padding: 15px 25px 15px;
    display: flex;
    flex-direction: column;

    &:hover {
      border: 2px solid #FF8500;
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .img {
      text-align: center;
      cursor: pointer;
      margin-bottom: 10px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .name {
      font-weight: 500;
      font-size: 14px;
      line-height: 15px;
      color: #000;
    }

    .desc {
      font-weight: 500;
      font-size: 14px;
      line-height: 15px;
      color: #6B6B6B;
    }

    .price {
      margin-top: auto;
      padding-top: 10px;
      font-size: 48px;
      line-height: 48px;

      b {
        font-size: 24px;
      }
    }

    .price_text {
      font-size: 11px;
      line-height: 14px;
    }

    .btn_w {
      display: flex;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 15px;
      justify-content: space-between;
      .btn-black {
        margin-right: 18px;
        overflow: hidden;
        position: relative;

        .a1 {
          transform: translateX(27px);
          transition: 0.2s transform;
        }

        .a2 {
          transform: translateX(150px);
          opacity: 0;
          font-size: 16px;
        }
      }

      .btn-orange {
        overflow: hidden;
        position: relative;
        width: 135px;

        .a1 {
          transform: translateX(-50px);
          transition: 0.2s all;
        }

        .a2 {
          opacity: 1;
          transform: translateX(-6px);
          transition: 0.2s all;
          color: #000;
          position: relative;
          z-index: 2;
          font-size: 16px;
          font-weight: 800;
          letter-spacing: 0.5px;
        }
      }

      .btn-wt {
        flex-basis: 100%;
        margin-top: 15px;
      }
    }

    &:hover {
      .btn-black:hover {
        width: 135px;
        transition: 0.3s all;
        background: #000;

        .a1 {
          transform: translateX(-10px) rotate(90deg);
          transition: 0.2s all;
        }

        .a2 {
          opacity: 1;
          transform: translateX(0px);
          transition: 0.2s all;
          position: relative;
          z-index: 2;
        }

        & + .btn-orange {
          width: 48px;

          .a1 {
            transform: translateX(35px);
            transition: 0.2s transform;
          }

          .a2 {
            transform: translateX(150px);
            opacity: 0;
            font-size: 16px;
          }
        }
      }

      .btn-gray:hover {
        width: 135px;
        background-color: $orange;
        position: relative;

        /*  &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            transition: 0.2s opacity;
            animation: sliding 5s linear infinite;
            background-image: url("../img/pattern/salepattern.svg");
          }
  */
        .a1 {
          transform: translateX(-50px);
          transition: 0.2s all;
        }

        .a2 {
          opacity: 1;
          transform: translateX(-6px);
          transition: 0.2s all;
          color: #000;
          position: relative;
          z-index: 2;
        }
      }
    }
  }
}

@keyframes sliding {
  0% {
    background-position: 64px 0;
    opacity: 0;
  }
  10% {
    opacity: .5;
  }
  50% {
    background-position: 0 0;
  }
  90% {
    opacity: .5;
  }
  100% {
    background-position: -64px 0;
    opacity: 0;
  }
}


.woocommerce-ordering,
.woocommerce-result-count,
.woocommerce-notices-wrapper {
  display: none !important;
}
.btn-goto-list {
  margin-top: 20px;
}

@media (min-width: 1025px) and (max-width: 1180px) {

}

/*media 1025-1180*/

@media (min-width: 769px) and (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 15px;
  }
  .cards .card {
    padding: 15px;
  }
}

/*media 769-1024*/

@media (min-width: 481px) and (max-width: 768px) {

}

/*media 481-768*/

@media (max-width: 768px) {
  .cat_header--header {
    flex-direction: column;
    align-items: flex-start;
  }

  .catalog_content {
    .left-man,
    .left-prems {
      display: none;
    }
  }
  .cards {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
  }

  .cards .card .price {
    font-size: 33px;
  }
  .cards .card .img {
    position: relative;
  }

  .cards .card:hover {
    border-color: white;
  }
  .cards .card.active {
    position: relative;
    border-color: $orange;

    .img {
      width: 100%;
      min-width: 92px;
      height: 100%;
      max-height: 260px;
      margin: 0 0 15px;
      max-width: none;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: auto;
      }
    }

    .btn_w {
      flex-wrap: wrap;
    }

    .btn-circle-close {
      display: block;
      margin: 15px auto 0;
      background: url("../img/close-o.svg") 0 0 no-repeat;
      width: 24px;
      height: 24px;
      background-size: contain;
    }
  }

  .cards .card.active {
    .cat-btn-next,
    .cat-btn-prev {
      display: none;
      width: 32px;
      height: 32px;
      background: url("../img/ico-arrow.svg") 0 0 no-repeat #fff;
      top: 43%;
      left: auto;
      right: auto;
      position: absolute;
      border-radius: 50%;
      z-index: 3;
    }

    .cat-btn-prev {
      transform: rotate(180deg);
      left: -10px;
    }

    .cat-btn-next {
      right: -10px;
    }
  }
  .cards .card:first-child {
    .cat-btn-prev {
      opacity: 0.5;
    }
  }
  .cards .card:last-child {
    .cat-btn-next {
      opacity: 0.5;
    }
  }
  .cards .card .name {
    font-size: 26px;
    line-height: 36px;
  }

}

@media (max-width: 480px) {
  .cards .card {
    padding: 10px;

    .btn-round {
      width: 38px;
      height: 38px;
    }

    &.active {
      grid-column: span 12;
      transition: 0.3s all;
    }
  }
  .btn-wt {
    text-transform: capitalize;
    height: 38px;
    span {
      display: none;
    }
  }
  .cards .card .btn_w .btn-black {
    margin-right: 8px;
  }
  .cards .card .btn_w .btn-orange{
    width: 100px;
  }
  .cards .card:hover .btn-black:hover .a1{
    transform: translateX(-27px);
  }
  .cards .card:hover .btn-black:hover .a2 {
    transform: translateX(-7px);
  }


}
/*media max 480*/
