#faq{
  margin-top: 150px;
  background: #FAFAFA;
  position: relative;
  padding-bottom: 28px;
  &:before{
    content:'';
    display: block;
    position: absolute;
    left: 0;
    top:0;
    width: 40%;
    height: 100%;
    background: url("../img/pattern/details.png") right 41px repeat-x;
  }
}

.left-man{
  position: relative;
  top: -94px;
  .man{
    position: relative;
    left: -20px;
  }
  .block{
    background: $orange;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 27px 37px;
    text-align: center;
    position: relative;
    margin-top: -31px;
    .name{
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      span{
        display: block;
      }
    }
    .title{
      font-weight: 500;
      font-size: 16px;
      line-height: 30px;
    }
    .desc{
      font-weight: normal;
      font-size: 13px;
      line-height: 13px;
    }
    .btn-w{
      display: flex;
      flex-direction: column;
      .btn{
        margin-top: 19px;
      }
    }
  }
}

/*front*/
.faq_spoilers_w{
  padding-left: 160px;
  padding-top: 60px;
  .heading{
    font-weight: bold;
    font-size: 30px;
    line-height: 51px;
    margin-bottom: 35px;
  }
}

.spoiler{
  margin-bottom: 10px;
  padding: 10px 20px;
  border: 2px solid transparent;
  margin-left: -20px;
  transition: 0.1s all;
}

.spoiler_title{
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-decoration: underline;
  cursor: pointer;
}
.spoiler_text{
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #555;
  padding-left: 100px;
  margin-top: 20px;
  display: none;
  transition: 0.3s all;
}
.spoiler.active{
  border: 2px solid #000000;
  border-radius: 9px;
  transition: 0.3s all;
  .spoiler_text{
    display: block;
    transition: 0.3s all;
  }
}


@media (min-width:1025px) and (max-width:1180px) {

} /*media 1025-1180*/

@media (min-width:769px) and (max-width:1024px) {
  .faq_spoilers_w{
    padding-left: 40px;
  }
  .spoiler_text{
    padding-left: 0;
  }
} /*media 769-1024*/

@media (min-width:481px) and (max-width:768px) {
  #faq{
    display: none;}
} /*media 481-768*/

@media (max-width:768px) {
  #faq{
    display: none;}
} /*media max 480*/
