#footer{

}
.line_orange{
  height: 103px;
  box-sizing: border-box;
  padding-top: 25px;
  background: $orange;
  .flex{
    align-items: center;
    justify-content: center;
  }
  .text{
    display: flex;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #000;
    margin-right: 55px;
    &:hover{
      .ico-mail-big{
        &:before{
          transform: rotateX(180deg) translateY(11px);
          transition: 0.3s all;
        }
      }
    }
    div span{
      display: block;
    }
    .ico{
      margin-right: 12px;
    }
  }
  .contact--footer-block{
    margin-top: 0;
    text-transform: initial;
    margin-left: 0px;
    align-items: center;
    .text{
      text-transform: initial;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      margin-right: 0;
    }
    a{
      margin-top: 0;
    }
  }
}
.line_black{
  box-sizing: border-box;
  padding-bottom: 100px;
  position: relative;
  background: #000;
  color: #C4C4C4;
  padding-top: 68px;
  &:before{
    content: '';
    display: none;
    width: 100%;
    height: 100%;
    background: url("../img/pattern/diods-gray.png") 0 0 repeat;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
  }
  a{
    color: #fff;
  }
  .container{
    position: relative;
    z-index: 1;
  }
  .copy{
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
  }
  .contacts{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    span{
      display: block;
    }
  }
  .address{
    display: flex;
    font-size: 14px;
    line-height: 18px;
    .ico{
      margin-right: 13px;
    }
    span{
      display: block;
    }
  }
  .foot-menu{
    margin: 0;
    padding: 0;
    a{
      color: inherit;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .payment-text{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    span{
      display: block;
    }
  }
  .payments{
    ul{
      display: flex;
      li{
        margin-right: 20px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
  .contact--footer-block{
    margin-top: 25px;
    text-transform: initial;
    margin-left: 0;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    .text{
      flex-basis: 100%;
      text-transform: initial;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      margin-right: 0;
    }
    a{
      margin-top: 3px;
      margin-left: 0;
      margin-right: 18px;
    }
  }
}

#scroll-up{
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  right: 10%;
  bottom: 10%;
  z-index: 999999;
  cursor: pointer;
  background: url("../img/ico-arr-top.svg") center center no-repeat;
  background-size: contain;
  opacity: 0;
  transition: 0.2s all;
  &.visible{
    opacity: 1;
    transition: 0.2s all;
  }
}

@media (min-width:1025px) and (max-width:1180px) {

} /*media 1025-1180*/

@media (min-width:769px) and (max-width:1024px) {
 .line_orange{
   height: auto;
   .contact--footer-block{
     margin: 20px 0 20px 40px;
     flex-basis: 100%;
     justify-content: center;
     .text{
       flex-basis: auto;
       margin-right: 0;
       padding-right: 0;
     }
   }
   .text{
     flex-basis: auto;
     justify-content: flex-end;
     box-sizing: border-box;
     padding-right: 25px;
     margin-right: 0;
   }
 }
  .line_orange .text div span{
    display: inline;
  }
  .line_orange .flex{
    flex-wrap: wrap;
  }
  .line_black{
    height: auto;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .line_black .foot-menu{
    display: flex;
    flex-wrap: wrap;
    li{
      margin-right: 15px;
    }
  }
  .line_black .payment-text span{
    display: inline;
  }
  .line_black .contacts span{
    display: block;
  }
} /*media 769-1024*/

@media (min-width:481px) and (max-width:768px) {

} /*media 481-768*/

@media (max-width:768px) {
  .line_orange{
    height: 76px;
  }
  .line_orange .flex>.text,
  .news-form
  {
    display: none;
  }
  .line_orange .flex{
    justify-content: center;
  }
  .line_orange .contact--footer-block{
    margin-left: 0;
  }
  .line_black{
    padding: 35px 50px 30px;
    height: auto;
  }
  .line_black .foot-menu,
  .payment-text
  {
    display: none;
  }
  .line_black .contact--footer-block{
    margin-bottom: 25px;
  }
} /*media max 480*/
