.custom-select__option--value{
  width: 100%;
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 35px;
  height: 48px;
}
.custom-select--active .custom-select__option--value{
  border-radius: 35px;
  border-bottom-color: inherit;
}
.custom-select__dropdown{
  top: calc(100% - -2px);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}
.custom-select__option--value::after{
  border: none;
  width: 20px;
  height: 12px;
  background: url("../img/ico-dd-arr-20-12.svg") 0 0 no-repeat;
}

.form{
  input[type=text],
  input[type=tel],
  input[type=email],
  textarea
  {
    border: none;
    height: 43px;
    background: #F3F3F3;
    border-radius: 9px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    color: #8D8D8D;
    padding: 0 20px;
    box-sizing: border-box;
  }
  textarea{
    height: 140px;
    font-family: inherit;
    padding-top: 10px;
  }
  .input--wide{
    width: 100%;
  }
  .text_conf{
    font-size: 11px;
    line-height: 13px;
    color: #fff;
  }
  input[type=submit]{
    border: none;
    background-image: url("../img/ico-arr-w-20-20.svg");
    background-repeat: no-repeat;
    background-position: 162px center;
    width: 254px;
    padding-right: 35px;
    transition: 0.3s all;
    &:hover{
      background-position: 182px center;
      transition: 0.3s all;
    }
  }
}

.news-form{
  display: flex;
  input[type=text]{
    border: none;
    height: 47px;
    width: 503px;
    background: #FFFFFF;
    border-radius: 29px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    color: #8D8D8D;
    padding: 0 20px;
    box-sizing: border-box;
    margin-right: -173px;
  }
  input[type=submit]{
    border: none;
    width: 177px;
    transition: 0.3s all;
    &:hover{
      background-color: #000;
      animation: falling 3s linear infinite;
      background-image: url("../img/pattern/mailpattern.svg");
      transition: 0.3s all;
    }
  }
}

@keyframes falling {
  0% { background-position: 0 64px; }
  50% {background-position: 0 0;}
  100% {background-position: 0 -64px;}
}