.custom-select__option--value{
  width: 100%;
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 35px;
  height: 48px;
}
.custom-select--active .custom-select__option--value{
  border-radius: 35px;
  border-bottom-color: inherit;
}
.custom-select__dropdown{
  top: calc(100% - -2px);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  &:before{
    content: '';
    display: block;
    position: absolute;
    left: -10px;
    top: -10px;
    bottom: -10px;
    right: -10px;
    border-radius: 22px;
    border: 2px solid #000000;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: #fff;
  }
}
.custom-select__option--value::after{
  border: none;
  width: 20px;
  height: 12px;
  background: url("../img/ico-dd-arr-20-12.svg") 0 0 no-repeat;
}

.tab_content{
  select{
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 35px;
    height: 48px;
    margin-bottom: 20px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: #212121;
    line-height: 1.5;
  }
}

.form{
  input[type=text],
  input[type=tel],
  input[type=email],
  textarea
  {
    border: none;
    height: 43px;
    background: #F3F3F3;
    border-radius: 9px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    padding: 0 20px;
    box-sizing: border-box;
    &.wpcf7-not-valid{
      border-color: red;
    }
  }
  textarea{
    height: 140px;
    font-family: inherit;
    padding-top: 10px;
  }
  .input--wide{
    width: 100%;
  }
  .text_conf{
    font-size: 11px;
    line-height: 13px;
    color: #fff;
  }
  input[type=submit]{
    border: none;
    background-image: url("../img/ico-arr-w-20-20.svg");
    background-repeat: no-repeat;
    background-position: 162px center;
    width: 254px;
    padding-right: 35px;
    transition: 0.3s all;
    &:hover{
      background-position: 182px center;
      transition: 0.3s all;
    }
  }
}

.news-form{
  display: flex;
  input[type=text],
  input[type=tel]
  {
    border: none;
    height: 44px;
    width: 503px;
    background: #FFFFFF;
    border-radius: 29px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    color: #8D8D8D;
    padding: 0 20px;
    box-sizing: border-box;
    margin-right: -173px;
  }
  input[type=submit]{
    border: none;
    width: 177px;
    transition: 0.3s all;
    &:hover{
      background-color: #000;
      animation: falling 3s linear infinite;
      background-image: url("../img/pattern/mailpattern.svg");
      transition: 0.3s all;
      color: #fff;
    }
  }
}

@keyframes falling {
  0% { background-position: 0 64px; }
  50% {background-position: 0 0;}
  100% {background-position: 0 -64px;}
}

.custom-select__option-wrap{
  overflow-y: scroll;
  max-height: 16.25rem;
}
.custom-select__dropdown{
  overflow-y: scroll;
  max-height: 16.25rem;
}


.hidden_inputs{
  display: none;
}
.fancybox-content {
  background: $orange;
  color: #fff;
  border-radius: 10px;
  max-width: 900px;
  position: relative;
  .form--wrap{
    position: relative;
    z-index: 2;
  }
  .heading{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
  }
  input[type=text],
  input[type=email],
  input[type=tel],
  textarea
  {
    background: #fff;
    border-color: #fff;
    border-radius: 5px;
    margin-bottom: 8px;
  }
  textarea{
    width: 100%;
  }
  .wpcf7 .wpcf7-response-output{
    margin-top: 20px !important;
  }
  &#popupform{
    max-width: 800px;
    .wpcf7-form-control-wrap{
      textarea{
        margin-top: 7px;
      }
      &.your-name input{
        width: 98%;
      }
    }
  }
}
.f_line{
  display: flex;
  flex-direction: row;
  position: relative;
  input[type=email], input[type=tel], input[type=text]
  {
    width: 100%;
  }
  input[type=submit]{
    margin-top: 20px;
    margin-left: auto;
    color: #fff;
    background: #000;
    width: 144px;
    height: 48px;
    border-radius: 27px;
    padding-right: 0;
    &:hover{
      background: #363636;
    }
  }
  .ajax-loader{
    position: absolute;
    right: -28px;
    top: 30px;
  }
}
.wpcf7-not-valid-tip{
  display: none !important;
}

.wpcf7 form .wpcf7-response-output{
  margin: 0 !important;
  font-size: 11px;
}
.wpcf7-form-control-wrap{
  width: 100%;
}
.fancy_close{
  background: #fff;
  border-radius: 50%;
  opacity: 1;
  padding: 10px;
  right: 10px;
  top: 10px;
  position: absolute;
  width: 44px;
  height: 44px;
  z-index: 2;
  cursor: pointer;
}


#restable, #printtable{
  width: 100%;
  table{
    border-collapse: collapse;
    width: 100%;
  }
  tr{
    border-top: 1px solid rgba(#ffffff,.5);
    display: flex;
    justify-content: flex-end;
    &:last-child{
      border-bottom: none;
    }
    &:nth-child(2n){
      td{

      }
    }
  }
  td{
    border: none;
    font-size: 14px;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .cat-name{
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .col1{
    .img-w{
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 300%;
        height: 300%;
      }
    }
  }
  .col2{
    flex-direction: column;
    align-items: flex-start;
  }
  .col3{
    white-space: nowrap;
    margin-left: auto;
    padding-right: 0;
    .izm{
      font-size: 13px;
    }
  }
  .col4{
    white-space: nowrap;
    text-align: right;
    padding-left: 5px;
    .sum{
      display: inline-block;
      margin-right: 4px;
      font-size: 13px;
    }
  }
  .totalsum{
    //background: #fff !important;
    text-align: right;
    font-size: 22px;
    //border-top: 1px solid rgba(2,111,160,.5);
    div{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-end;
      text-align: right;
      .yellow-rounded{
        margin-right: 10px;
      }
    }
  }
}

.fancybox-content input.wpcf7-not-valid{
  border: 1px solid red;
  position: relative;
  animation: 0.4s not-valid;
  transition: .2s all;
}

@keyframes not-valid {
  0%{left:-3px;}
  20%{left: 3px;}
  40%{left:-3px;}
  60%{left: 3px;}
  80%{left:-3px;}
  100%{left: 0px;}
}

.fancybox-close-small{
  display: none;
}

.fancybox-content .wpcf7-submit{
  transition: 0.3s all;
  &.is-active{
    background-color: #000 !important;
    animation: falling 3s linear infinite;
    background-image: url("../img/pattern/mailpattern.svg") !important;
    background-repeat: repeat !important;
    transition: 0.3s all;
  }
}

.rounded-fields{
  input[type=text],
  input[type=tel],
  input[type=email],
  textarea
  {
    border-radius: 22px;
    border: 1px solid #000000;
    background: #fff;
  }
}

@media (min-width:1025px) and (max-width:1180px) {
  .news-form input[type=tel]{
    width: 353px;
  }
  .form textarea{
    height: 104px;
  }
  .fancybox-content {
    max-width: 900px;
  }
} /*media 1025-1180*/

@media (min-width:769px) and (max-width:1024px) {
  .news-form input[type=tel]{
    width: 353px;
    margin-bottom: 0;
  }
  .fancybox-content {
    max-width: 90%;
  }
} /*media 769-1024*/

@media (min-width:481px) and (max-width:768px) {

} /*media 481-768*/

@media (max-width:768px) {
  .fancybox-content {
    max-width: 90%;
  }
.cf-email,
.cf-subject,
.cf-message
{
  display: none;
}
  .custom-select__option-wrap{
    overflow-y: scroll;
    max-height: 11.25rem;
  }
  .custom-select__dropdown{
    overflow-y: scroll;
    max-height: 11.25rem;
  }

} /*media max 480*/

@media (max-height: 500px) {
  .custom-select__option-wrap{
    overflow-y: scroll;
    max-height: 11.25rem;
  }
  .custom-select__dropdown{
    overflow-y: scroll;
    max-height: 11.25rem;
  }
}

@media (max-height: 900px){
  .custom-select__option-wrap{
    overflow-y: auto;
    max-height: 11.25rem;
  }
  .custom-select__dropdown{
    overflow-y: auto;
    max-height: 11.25rem;
  }
}