#header{

}

.topmenu-w{
  height: 41px;
  background: #000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.topmenu{
  height: 41px;
  display: flex;
  align-items: center;
  .menu{
    margin-left: -20px;
    ul{
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      li{
        a{
          padding: 0 22px;
          text-decoration: none;
          font-size: 13px;
          line-height: 48px;
          font-weight: 500;
          text-transform: uppercase;
          color: #fff;
          transition: 0.3s all;
          display: inline-block;
          &:hover, &.active{
            color: $orange;
            transition: 0.3s all;
          }
        }
      }
    }
  }
  .ico-mail{
    margin-left: 25px;
  }
}

.top-dds-w{
  color: #959595;
  display: flex;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  margin-left: auto;
  .dd{
    margin-right: 20px;
  }
}

.dd-list{
  display: none;
  position: absolute;
  background: #3C4043;
  border-radius: 4px;
  padding: 10px 20px 5px 20px;
  top: 39px;
  li{
    font-size: 13px;
    margin-bottom: 5px;
    position: relative;
    cursor: default;
    a{
      color: inherit;
      text-decoration: none;
    }
    &:hover{
      color: #fff;
      a{
        color: #fff;
      }
    }
    &.active{
      color: #fff;
      &:before{
        content: '';
        display: block;
        position: absolute;
        left: -12px;
        width: 5px;
        height: 5px;
        background: #fff;
        border-radius: 50%;
        top: 6px;
      }
    }
  }
}

#main_popup_menu{
  .dd{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .dd-list{
    top: 25px;
    ul{
      align-items: flex-start;
      justify-content: flex-start;
    }
    li{
      margin-bottom: 5px;
      a{
        text-transform: none;
      }
    }
  }
}

.dd-label{
  padding-right: 14px;
  position: relative;
  cursor: pointer;
  &:after{
    //@include pseudo("ico-dd-gray-8-6.svg",8,6,6,null,0);
  }
  &.dd-ico{
    padding-left: 20px;
  }
  &.ico-map{
    &:before{
      @include pseudo("ico-top-map-11-14.svg",11,14,0,1);
    }
  }
  &.ico-metro{
    &:before{
      @include pseudo("ico-top-metro-11-12.svg",11,12,3,1);
    }
  }
}

.header{
  justify-content: space-between;
  height: 94px;
  align-items: center;
}

.logo-w{

}

.logo{
  display: inline-block;
  position: relative;
  width: 160px;
  height: 48px;
  background: url("../img/logo-normal.svg") 0 0 no-repeat;
  background-size: contain;
  transition: .2s all;
  &:hover{
    transition: .3s all;
    background: url("../img/logo-hover.svg") 0 0 no-repeat;
    background-size: contain;
  }
}

.header-right{
  display: flex;
}
.header-seo-text{
  display: inline-block;
  color: #6B6B6B;
  font-size: 14px;
  line-height: 20px;
  margin-left: 24px;
  padding-top: 5px;
  span{
    display: block;
  }
}

.header_contacts{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

body{
  padding-top: 49px;
}
.btn-burger{
  display: none;
}
@media (min-width:1025px) and (max-width:1180px) {
  .topmenu .menu{
    margin-left: -10px;
  }
  .topmenu .menu ul li a{
    padding: 0 15px;
  }

  .h_contacts_wt, .h_contacts_vb{
    font-size: 0;
  }
  .h_contacts_tel{
    margin-left: 9px;
    margin-right: 10px;
  }
  .h_contacts_vb{
    margin-left: 5px;
  }

} /*media 1025-1180*/

@media (min-width:769px) and (max-width:1024px) {
  .btn-burger{
    display: inherit;
  }
  .menu{
    display: none;
  }
  .h_contacts_wt, .h_contacts_vb{
    font-size: 0;
  }
  .h_contacts_tel{
    margin-left: 9px;
    margin-right: 10px;
  }
  .h_contacts_vb{
    margin-left: 5px;
  }
  .header-seo-text{
    display: none;
  }
  .btn-top-m{
    margin-left: 30px;
    margin-right: 0;
  }
  .top-dds-w{
    margin-left: auto;
  }
} /*media 769-1024*/

@media (min-width:481px) and (max-width:768px) {

} /*media 481-768*/

@media (max-width:768px) {
  .btn-burger{
    display: inherit;
  }
  .menu{
    display: none;
  }
  .h_contacts_wt, .h_contacts_vb{
    font-size: 0;
  }
  .h_contacts_tel{
    margin-left: 9px;
    margin-right: 10px;
  }
  .h_contacts_vb{
    margin-left: 5px;
  }
  .header-seo-text{
    display: none;
  }
  .top-dds-w, .topmenu .ico-mail, .btn-top-m{
    display: none;
  }
  .topmenu-w{
    height: 70px;
  }
  .topmenu{
    height: 70px;
    display: flex;
    justify-content: space-between;
  }
  body{
    padding-top: 70px;
  }
  #header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
  }

} /*media max 480*/


