.left-menu{
  margin-bottom: 30px;
  border-radius: 6px;
  background: #000;
  ul{
    margin: 0;
    padding: 0;
    &>li{
      .title{
        color: #C4C4C4;
        background: #000;
        padding: 15px 15px 15px 50px;
        cursor: pointer;
        text-transform: uppercase;
        position: relative;
        display: flex;
        align-items: center;
        font-weight: 800;
        .ico{
          transform: rotate(0deg);
          transition: 0.3s all;
          svg{
            fill: #C4C4C4;
          }
        }
        &.radiodetali{
          border-radius: 6px 6px 0 0;
          transition: 0.3s all;
          &:before{
            @include pseudo("ico-left-menu-detali-24-24.svg", 24,24,13,15);
            opacity: .7;
          }
          &:after{
            content: "";
            width: 80%;
            left: 10%;
            height: 1px;
            background: #3C4043;
            position: absolute;
            bottom: 0;
          }
        }
        &.radiopribory{
          border-radius: 0 0 6px 6px;
          transition: 0.3s all;
          &:before{
            @include pseudo("ico-left-menu-pribory-24-24.svg", 24,24,13,15);
            opacity: .7;
          }
        }
      }
      a{
        color: #fff;
      }
    }
    & ul{
      li{
        color: #C4C4C4;
        font-size: 14px;
        height: 36px;
        display: flex;
        align-items: center;
        background: #3C4043;
        box-sizing: border-box;
        &:hover{
          background: #484848;
        }
        &.active {
          background: #484848;
          a{
            color: $orange;
          }
        }
        a{
          text-decoration: none;
          display: flex;
          width: 100%;
          height: 36px;
          align-items: center;
          color: #C4C4C4;
          padding: 3px 10px 4px 80px;
          &:hover{
            color: $orange;
          }
        }
      }
    }
    &>li.active {
      .title{
        background: #3C4043;
        color: #fff;
        .ico{
          transform: rotate(90deg);
          transition: 0.3s all;
          svg{
            fill: #FF8500;
          }
        }
        &.radiodetali{
          transition: 0.3s all;
          border-radius: 6px 6px 0 0;
        }
        &.radiopribory{
          border-radius: 0;
        }
        &:before{
          opacity: 1;
        }
      }

        ul{
          li{
            &:last-child{
              transition: 0.3s all;
              border-radius: 0 0 6px 6px;
            }
          }
        }

    }
  }
}
.left-menu.active ul > li .title.radiodetali:after{
  display: none;
}

.catalog_content .left-man{
  top: 0;
  margin-bottom: 70px;
}

.left-prems{
  .prem1,
  .prem2,
  .prem4
  {
    text-align: center;
    margin-bottom: 60px;
    .title{
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      margin-top: 25px;
    }
  }
}


@media (min-width:1025px) and (max-width:1180px) {
  .left-menu ul ul li a{
    padding: 3px 10px 4px 50px;
  }
  .cards{
    grid-gap: 15px;
  }
  .cards .card{
    padding: 15px;
  }
} /*media 1025-1180*/

@media (min-width:769px) and (max-width:1024px) {
  .left-menu ul ul li a{
    padding: 3px 10px 4px 50px;
  }
} /*media 769-1024*/

@media (min-width:481px) and (max-width:768px) {

} /*media 481-768*/

@media (max-width:768px) {
  .left-menu ul ul{
    display: none;
  }
} /*media max 768*/
