.catalog_content .left-man.cart-man{
  top: -90px;
  margin-bottom: -20px;
}
.list{
  background: #F7F7F7;
  border: 1px solid #D6D6D6;
  box-sizing: border-box;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 14px 30px 14px 14px;
  display: flex;
  flex-direction: row;
  position: relative;
  .img{
    width: 212px;
    height: 157px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img{
      width: 100%;
      height: auto;
    }
  }
  .center{
    padding-top: 24px;
    padding-bottom: 30px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    width: 206px;
    margin-right: 80px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    .name{
      font-size: 12px;
      line-height: 15px;
      font-weight: 500;
      b{
        font-weight: 600;
      }
    }
    .price{
      margin-top: auto;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
    }
    .type{
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
    }
  }
  .cart_block{
    width: 222px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 25px;
    position: relative;
    .total_price{
      width: 100%;
      flex-basis: 100%;
      font-size: 48px;
      line-height: 62px;
      position: relative;
      b{
        font-size: 24px;
        line-height: 31px;
      }
    }
    .ico-del{
      margin-left: auto;
      margin-top: 7px;
    }
  }
  .inputCountWrap{
    width: 120px;
    display: flex;
    position: relative;
    input[type=text],
    input[type=number],
    {
      width: 54px;
      height: 40px;
      border-radius: 18px;
      border: none;
      font-family: Montserrat, sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      margin-left: 8px;
      margin-right: 8px;
    }
    input[type=number],
    input[type=number]:focus,
    input[type=number]:hover
    {
      -webkit-appearance: none;
      appearance: none;
      -moz-appearance: textfield;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  }

  &.deleting{
    overflow: hidden;
    .img{animation: 0.5s delete ease-in; animation-fill-mode: forwards;}
    .center{animation: 0.5s delete ease-in; animation-delay: .3s; animation-fill-mode: forwards;}
    .total_price{animation: 0.3s delete ease-in; animation-delay: .5s; animation-fill-mode: forwards;}
    .cart_block{animation: 0.5s delete ease-in; animation-delay: .5s; animation-fill-mode: forwards;}
    .inputCountWrap{animation: 0.5s delete ease-in; animation-delay: .5s; animation-fill-mode: forwards;}
    transform: translateX(0);
    transition: 1s transform;
  }

}

.empty-list{
  margin-bottom: calc(100vh - 500px);
  h3{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .btn-orange{
    width: 205px;
  }
}

.list-total{
  box-sizing: border-box;
  background: black;
  border-radius: 6px;
  height: 154px;
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
  margin-bottom: 40px;
  opacity: 0;
  transition: opacity 0.3s;
  &.active{
    opacity: 1;
    transition: opacity 0.3s;
  }
  .price-w{
    margin-bottom: 15px;
  }
  .title{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  .price{
    font-weight: normal;
    font-size: 48px;
    line-height: 48px;
    text-align: right;
    margin-left: 44px;
    b{
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }
  }
  .btn{
    width: 228px;
  }
}

.stepper-step{
  width: 25px;
  height: 40px;
  background: #FF8500;
  border-radius: 18px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s all;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  &:hover{
    background: #ff6600;
    transition: 0.3s all;
  }
}

@keyframes delete {
  0%{top:0; }
  100%{top:-300px;}
}


@media (min-width:1025px) and (max-width:1180px) {

} /*media 1025-1180*/

@media (min-width:769px) and (max-width:1024px) {

} /*media 769-1024*/

@media (min-width:481px) and (max-width:768px) {

} /*media 481-768*/

@media (max-width:768px) {
  .list{
    flex-direction: column;
  }
  .list .img{
    display: none;
  }
  .list .center{
    padding: 0;
    margin: 0 0 15px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .list .center .name{
    font-size: 20px;
    line-height: 26px;
    flex-basis: 100%;
    margin-bottom: 10px;
    margin-right: 50px;
  }
  .list .center .type{
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
  }
  .list .cart_block{
    width: 100%;
    padding-top: 15px;
    align-items: center;
    position: unset;
  }
  .list .cart_block .total_price{
    font-size: 40px;
    width: auto;
    flex-basis: auto;
    margin-left: 20px;
  }
  .list-total{
    height: auto;
  }
  .list-total .price-w{
    text-align: right;
    width: 100%;
  }
  .list-total .price{
    display: flex;
    align-items: baseline;
    margin-left: 0;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .list .cart_block .ico-del{
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .empty-list h3{
    font-size: 22px;
  }
} /*media max 480*/
