.list{
  background: #F7F7F7;
  border: 1px solid #D6D6D6;
  box-sizing: border-box;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 14px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  .center{
    padding-top: 24px;
    margin-left: 60px;
    .name{
      font-size: 12px;
      line-height: 15px;
      b{
        font-weight: 800;
      }
    }
  }
}