#steps{
  padding-top: 68px;
  .heading{
    font-weight: bold;
    font-size: 30px;
    line-height: 51px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
  }

    .flex{
      display: flex;
      justify-content: space-between;
    }
    .step1,
    .step2,
    .step3
    {
      width: 251px;
      display: flex;
      flex-direction: column;
      align-items: center;

    }
  .title{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-top: 37px;
    margin-bottom: 15px;
    text-align: center;
    span{
      display: block;
    }
  }
  .desc{
    font-size: 14px;
    line-height: 18px;
    color: #555555;
    min-height: 72px;
    margin-bottom: 15px;
    text-align: center;
  }
  .btn-w{
    display: flex;
    align-items: center;
    justify-content: center;
    .btn+.btn{
      margin-left: 10px;
    }
  }

}


@media (min-width:1025px) and (max-width:1180px) {
  #steps .step1, #steps .step2, #steps .step3{
    width: 30%;
  }
} /*media 1025-1180*/

@media (min-width:769px) and (max-width:1024px) {
  #steps .step1, #steps .step2, #steps .step3{
    width: 33%;
  }
  #steps .title{
    font-size: 16px;
    line-height: 20px;
    margin-top: 30px;
  }
  #steps{
    padding-top: 50px;
    .btn{
      padding-left: 15px;
      padding-right: 15px;
      height: 37px;
    }
    .img {
      text-align: center;
      img{
        max-width: 80%;
      }
    }
  }
  #steps .heading{
    margin-bottom: 50px;
  }
  #steps .desc{
    padding: 0 10px;
  }
} /*media 769-1024*/

@media (min-width:481px) and (max-width:768px) {

} /*media 481-768*/

@media (max-width:768px) {
  #steps{
    padding-top: 26px;
  }
  #steps .heading{
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 40px;
  }
  #steps .flex{
    flex-direction: column;
  }
  #steps .step1, #steps .step2, #steps .step3{
    width: 100%;
    margin-bottom: 30px;
  }
  #steps .img.desktop{
    display: none;
  }
  #steps .title{
    font-size: 18px;
    line-height: 20px;
    margin-top: 15px;
  }
  #steps .desc{
    font-size: 12px;
    line-height: 18px;
    min-height: auto;
  }
} /*media max 480*/
