#cat_popup_menu{
  background-color: #3C4043;
  color: #fff;
  position: fixed;
  left: 0;
  top: 49px;
  width: 100%;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
  &:before{
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../img/pattern/diods-gray.png') 0 0 repeat;
    position: absolute;
    opacity: 0.1;
  }
  &.open{
    height: auto;
    opacity: 1;
    visibility: visible;
    transition: 0.3s all;
    .lined ul{
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      &:nth-of-type(2) { animation-delay: .5s;}
    }
  }
  a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    &:hover{
      color: $orange;
    }
  }
  li.active a{
    color: $orange;
  }
  .close_btn{
    cursor: pointer;
    position: absolute;
    top: -38px;
    right: 0;
    transform: rotate(0deg);
    transition: 0.3s all;
    width: 16px;
    height: 16px;
    z-index: 99;
    &:hover{
      transform: rotate(180deg);
      transition: 0.3s all;
    }
  }
  ul{
    column-count: 2;
    column-gap: 60px;
    opacity: 0;
    position: relative;
  }
  .lined{
    border-bottom: 1px solid rgba(#9B9B9B,.35);
    border-top: 1px solid rgba(#9B9B9B,.35);
    padding: 26px 0;
    ul li{
      margin-bottom: 8px;
    }
    & div.col-6:first-child{
      padding-right: 30px;
    }
  }
  header{
    height: 110px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    letter-spacing: 1px;
    .name{
      margin-bottom: 15px;
    }
  }
  footer{
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .get_price_w{
      height: 100%;
    }
    .get_price{
      display: flex;
      align-items: center;
      text-transform: unset;
      font-weight: bold;
      font-size: 14px;
    }
    .contact--footer-block{
      margin-top: 0;
      align-items: flex-end;
      flex-direction: column;
      .btns{
        display: flex;
        margin-top: 25px;
      }
      a{
        margin-top: 0;
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 10%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight2 {
  0% {
    opacity: 0;
    left: 20px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    left: -10%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes fadeInLeft2 {
  0% {
    opacity: 0;
    left: -20px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
#main_popup_menu{
  position: fixed;
  width: 30%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;

  a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    &:hover{
      color: $orange;
    }
  }
  li.active a{
    color: $orange;
  }
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    li{
      margin-bottom: 15px;
    }
  }
  .close_btn{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    transform: rotate(0deg);
    transition: 0.3s all;
    width: 16px;
    height: 16px;
    z-index: 99;
    &:hover{
      transform: rotate(180deg);
      transition: 0.3s all;
    }
  }
  .get_price_w{
    justify-content: center;
    .ico-left{
      position: relative;
      top: 4px;
    }
  }
  .contact--footer-block{
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    .btns{
      margin-top: 10px;
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: center;
      a:first-child{
        margin-left: 0;
      }
    }
  }
  ul li,
  .contact--footer-block,
  .get_price
  {
    position: relative;
    opacity: 0;
  }
  &.open{
    opacity: 1;
    visibility: visible;
    transition: 0.3s all;
    ul li{
      animation: fadeInLeft .5s ease forwards;
      animation-delay: .20s;
      &:nth-child(2){animation-delay: .25s;}
      &:nth-child(3){animation-delay: .30s;}
      &:nth-child(4){animation-delay: .35s;}
      &:nth-child(5){animation-delay: .40s;}
      &:nth-child(6){animation-delay: .45s;}
    }
    .contact--footer-block
    {
      animation: fadeInLeft .5s ease forwards;
      animation-delay: .55s;
    }
    .get_price
    {
      animation: fadeInLeft .5s ease forwards;
      animation-delay: .50s;
    }
  }
}


@media (min-width:1025px) and (max-width:1180px) {
  #cat_popup_menu .close_btn{
    right: 20px;
  }
  #cat_popup_menu.open{
    overflow-y: auto;
  }
} /*media 1025-1180*/

@media (min-width:769px) and (max-width:1024px) {
  #cat_popup_menu .close_btn{
    right: 20px;
    top: 0;
  }
  #cat_popup_menu header{
    height: 60px;
  }
  #cat_popup_menu footer{
    height: auto;
    padding: 20px 0;
  }
  #cat_popup_menu.open{
    overflow-y: auto;
  }
} /*media 769-1024*/

@media (max-width:768px) {
  #cat_popup_menu{
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 99999;
    transition: .6s;
    transition-delay: .4s;
    overflow: scroll;
    &.open{
      transition-delay: 0s;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      height: 100%;
    }
  }
  #cat_popup_menu .close_btn{
    right: 20px;
    top: 0;
  }
  #cat_popup_menu{
    justify-content: flex-start;
  }
  #cat_popup_menu header{
    height: 60px;
    padding-top: 20px;
  }
  #cat_popup_menu .name{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27px;
    font-size: 14px;
  }
  #cat_popup_menu .name.active{
    background: #ccc;
    border-radius: 20px;
    color: #000;
  }
  .contact--footer-block .text{
    display: none;
  }
  #cat_popup_menu footer .contact--footer-block .btns{
    margin-top: 0;
  }
  div[data-menuidcontent]{
    display: none;
  }
  div[data-menuidcontent].active{
    display: block;
  }
  #cat_popup_menu.open{

  }
  #main_popup_menu{
    width: 100%;
    .close_btn{
      right: auto;
      left: 20px;
      top: 26px;
    }
  }
  #cat_popup_menu footer{
    height: 90px;
    margin-top: auto;
  }
} /*media max 480*/

@media (max-height: 500px){
  #cat_popup_menu{
    transform: translateY(-100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 99999;
    transition: .6s;
    transition-delay: .4s;
    overflow: scroll;
    &.open{
      transition-delay: 0s;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      height: 100%;
    }
  }
  #cat_popup_menu header{
    padding-top: 20px;
  }
  #cat_popup_menu footer{
    height: 90px;
    margin-top: auto;
  }
}