#slider{
  height: 475px;
  background: #FF8500;
  position: relative;
  z-index: 33;
  .container {
    position: relative;
    z-index: 3;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: url("../img/pattern/diods.png") left center repeat;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    width: 20%;
    height: 100%;
    background: url("../img/pattern/diods.png") right center repeat;
  }
}
.swiper-slide{
  box-sizing: border-box;
  padding-top: 50px;
  position: relative;
  height: 475px;
  .title{
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #000;
    margin-bottom: 20px;
  }
  .desc{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    max-width: 80%;
  }
  .img_w{
    position: absolute;
    bottom: 0;
    left: -20px;
  }
}

@media (min-width:1025px) and (max-width:1180px) {
  .swiper-slide .title{
    line-height: 34px;
  }
} /*media 1025-1180*/

@media (min-width:769px) and (max-width:1024px) {

} /*media 769-1024*/

@media (min-width:481px) and (max-width:768px) {
  #slider{display: none;}
} /*media 481-768*/

@media (max-width:768px) {
  #slider{display: none;}
} /*media max 480*/
