<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading">О компании</div>

                <div class="desc">
                    Аптеки "Планета Здоровья" - победитель Международной фармацевтической премии "Зеленый крест" - 2020
                    в номинации "Лучшая аптечная сеть России - выбор фармацевтического сообщества". Аптеки
                    "Планета Здоровья" - победитель Международной фармацевтической премии "Зеленый крест" - 2020
                    в номинации "Лучшая аптечная сеть России - выбор фармацевтического сообщества". Аптеки "Планета
                    Здоровья" - победитель Международной фармацевтической премии "Зеленый крест" - 2020 в номинации
                    "Лучшая аптечная сеть России - выбор фармацевтического сообщества".
                </div>
            </div>
        </div>
        <div class="row prems">
            <div class="col-3">
                <div class="prem1">
                    Более 500 позиций <span>мы готовы купить у вас</span>
                </div>
            </div>
            <div class="col-3">
                <div class="prem2">
                    Лучшая цена на рынке
                    <span>приёма радиодеталей</span>
                </div>
            </div>
            <div class="col-3">
                <div class="prem3">
                    Выезд по Москве и Московской
                    <span>области</span>
                </div>
            </div>
            <div class="col-3">
                <div class="prem4">
                    Выезжаем сразу же
                    <span>после звонка</span>
                </div>
            </div>
        </div>
    </div>
</div>