<div id="calcform">
    <div class="tabform">
        <div class="loader">
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
        <div class="tabs_label">
            <div class="tab_label active" data-vals="[17,16,18,24,25,26,30,28,19,29,23,22,21,20]">
                <div><span class="ico ico-tab-detali ico-left"></span> Радиодетали</div>
            </div>
            <div class="tab_label" data-vals="[37,38,49,39,41,42,43,46,44,45,48,47]">
                <div><span class="ico ico-tab-pribory ico-left"></span> Радиоприборы</div>
            </div>
        </div>
        <div class="tabs_content" id="tab1">
            <div class="tab_content active">
                <div>
                    <select class="select select--default el-type el-type-1" id="radioels-type">
                        <option disabled hidden selected value="">Что продаёте?</option>
                    </select>
                </div>
                <div>
                    <select id="radioels-name" class="select select--default el-name el-name-1">
                        <option disabled hidden selected value="">Выберите наименование</option>
                    </select>
                </div>
            </div>
            <div class="tab_content" id="tab2">
                <div>
                    <select id="radioprib-type" name="" class="select select--default">
                        <option value="1">---</option>
                    </select>
                </div>
                <div>
                    <select id="radioprib-name" name="" class="select select--default">
                        <option value="1">---</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="tabform-footer">
            <div class="info-line">
                <a class="btn-add-to-list" href="javascript:;">+ Добавить в список</a>
                <div class="sum_label">
                    <span class="sum_text">Цена: </span>
                    <span class="sum_num"><b>-</b> ₽</span>
                    <span class="count_text">за: </span>
                    <span class="count_num">-</span>
                </div>
            </div>
            <div class="btn-w">
                <a class="btn btn-orange" href="javascript:;">
                    <span class="ico ico-list ico-left"></span> Скачать прайс
                </a>
                <a class="btn btn-black" href="javascript:;">
                    <span class="ico ico-card ico-left"></span> Продать
                </a>
            </div>
        </div>
    </div>
</div>