<div id="calcform">
    <div class="tabform">
        <div class="tabs_label">
            <div class="tab_label active">
                <div><span class="ico ico-tab-detali ico-left"></span> Радиодетали</div>
            </div>
            <div class="tab_label">
                <div><span class="ico ico-tab-pribory ico-left"></span> Радиоприборы</div>
            </div>
        </div>
        <div class="tabs_content">
            <div class="tab_content active">
                <div>
                    <select class="select select--default" id="radioels-type">
                        <option value="1">Диоды</option>
                        <option value="2">Конденсаторы</option>
                        <option value="3">Реле</option>
                        <option value="4">Лампы</option>
                        <option value="5">Металлы платино-паладиевой группы</option>
                    </select>
                </div>
                <div>
                    <select id="radioels-name" class="select select--default">
                        <option value="1">Д123</option>
                        <option value="2">Д-223</option>
                        <option value="3">ДР12</option>
                        <option value="4">Еще диод</option>
                    </select>
                </div>
            </div>
            <div class="tab_content">
                <div>
                    <select id="radioprib-type" name="" class="select select--default">
                        <option value="1">Категория приборов</option>
                        <option value="2">Категория приборов</option>
                        <option value="3">Категория приборов</option>
                        <option value="4">Категория приборов</option>
                        <option value="5">Категория приборов</option>
                    </select>
                </div>
                <div>
                    <select id="radioprib-name" name="" class="select select--default">
                        <option value="1">Наименование</option>
                        <option value="2">Наименование</option>
                        <option value="3">Наименование</option>
                        <option value="4">Наименование</option>
                        <option value="5">Наименование</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="tabform-footer">
            <div class="info-line">
                <a class="btn-add-to-list" href="javascript:;">+ Добавить в список</a>
                <div class="count_label">
                    <span class="count_text">Количество: </span>
                    <span class="count_num">0</span>
                </div>
                <div class="sum_label">
                    <span class="sum_text">Сумма: </span>
                    <span class="sum_num">0 ₽</span>
                </div>
            </div>
            <div class="btn-w">
                <a class="btn btn-orange" href="javascript:;">
                    <span class="ico ico-list ico-left"></span> Скачать прайс
                </a>
                <a class="btn btn-black" href="javascript:;">
                    <span class="ico ico-card ico-left"></span> Продать
                </a>
            </div>
        </div>
    </div>
</div>