<!-- +++ desktop -->
<div class="mod_categories_slider">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="head_w">
                    <h3>Категории</h3>
                    <div class="arrows_w">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#">
                                <div class="label">Лучшая цена</div>
                                <div class="img">
                                    <img alt="Транзисторы" src="../img/cat-ico-tranz-56-105.svg"/>
                                </div>
                                <div class="title">Транзисторы</div>
                                <div class="btn_w">
                                    <span class="btn btn-black">Смотреть</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <div class="img">
                                    <img alt="Переключатели" src="../img/cat-ico-perek-79-107.svg"/>
                                </div>
                                <div class="title">Переключатели</div>
                                <div class="btn_w">
                                    <span class="btn btn-black">Смотреть</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <div class="img">
                                    <img alt="Диоды" src="../img/cat-ico-diody-60-107.svg"/>
                                </div>
                                <div class="title">Диоды</div>
                                <div class="btn_w">
                                    <span class="btn btn-black">Смотреть</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <div class="img">
                                    <img alt="Конденсаторы" src="../img/cat-ico-condens-94-108.svg"/>
                                </div>
                                <div class="title">Конденсаторы</div>
                                <div class="btn_w">
                                    <span class="btn btn-black">Смотреть</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <div class="img">
                                    <img alt="Потенциометры" src="../img/cat-ico-poten-58-108.svg"/>
                                </div>
                                <div class="title">Потенциометры</div>
                                <div class="btn_w">
                                    <span class="btn btn-black">Смотреть</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <div class="img">
                                    <img alt="Микросхемы" src="../img/cat-ico-micro-108-108.svg"/>
                                </div>
                                <div class="title">Микросхемы</div>
                                <div class="btn_w">
                                    <span class="btn btn-black">Смотреть</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <div class="img">
                                    <img alt="Лампы" src="../img/cat-ico-lamp-61-108.svg"/>
                                </div>
                                <div class="title">Лампы</div>
                                <div class="btn_w">
                                    <span class="btn btn-black">Смотреть</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <div class="img">
                                    <img alt="Реле" src="../img/cat-ico-rele-96-108.svg"/>
                                </div>
                                <div class="title">Реле</div>
                                <div class="btn_w">
                                    <span class="btn btn-black">Смотреть</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <div class="img">
                                    <img alt="Резисторы" src="../img/cat-ico-res-43-107.svg"/>
                                </div>
                                <div class="title">Резисторы</div>
                                <div class="btn_w">
                                    <span class="btn btn-black">Смотреть</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <div class="img">
                                    <img alt="Платы" src="../img/cat-ico-platy-83-108.svg"/>
                                </div>
                                <div class="title">Платы</div>
                                <div class="btn_w">
                                    <span class="btn btn-black">Смотреть</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <div class="img">
                                    <img alt="Металлы платиновой группы" src="../img/cat-ico-met-109-109.svg"/>
                                </div>
                                <div class="title">Металлы платиновой группы</div>
                                <div class="btn_w">
                                    <span class="btn btn-black">Смотреть</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <div class="img">
                                    <img alt="Серебро техническое" src="../img/cat-ico-silver-109-109.svg"/>
                                </div>
                                <div class="title">Серебро техническое</div>
                                <div class="btn_w">
                                    <span class="btn btn-black">Смотреть</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <div class="img">
                                    <img alt="Радиолом" src="../img/cat-ico-radiolom-140-108.svg"/>
                                </div>
                                <div class="title">Радиолом</div>
                                <div class="btn_w">
                                    <span class="btn btn-black">Смотреть</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <div class="img">
                                    <img alt="Разъемы" src="../img/cat-ico-raz-94-65.svg"/>
                                </div>
                                <div class="title">Разъемы</div>
                                <div class="btn_w">
                                    <span class="btn btn-black">Смотреть</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="food_w">
                    <a href="#" class="btn btn-gray open-popup-cat"><span class="ico ico-category ico-left "></span>Весь каталог</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- --- desktop -->