<div id="contact_block">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading">
                Связаться с нами
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-8  m-col-6 s-col-12 xs-col-12 contact--image-block">
                <img src="../img/photo_contact.jpg" alt="Связаться с нами" />
                <div class="contact--footer-block">
                    <div class="text">Написать напрямую <span>в мессенджер</span></div>
                    <a href="#" class="ico ico-tg-w"></a>
                    <a href="#" class="ico ico-wt-w"></a>
                    <a href="#" class="ico ico-vb-w"></a>
                </div>
            </div>
        </div>
    </div>
</div>