<div id="contact_block">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading">
                Связаться с нами
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form">
                    <input type="text" placeholder="Имя" class="input--wide"/>
                    <input type="tel" placeholder="Номер телефона *" class="input--wide"/>
                    <input type="text" placeholder="Email" class="input--wide"/>
                    <input type="text" placeholder="Интерсующий товар / услуга" class="input--wide"/>
                    <textarea name="" id="" cols="30" rows="10" placeholder="Сообщение *" class="input--wide"></textarea>
                    <div class="text_conf">
                        Отправляя заявку Вы соглашаетесь с политикой конфиденциальности
                    </div>
                    <input type="submit" class="btn btn-orange" />
                </div>
            </div>
            <div class="col-8 contact--image-block">
                <img src="../img/photo_contact.jpg" alt="Связаться с нами" />
                <div class="contact--footer-block">
                    <div class="text">Написать напрямую <span>в мессенджер</span></div>
                    <a href="#" class="ico ico-tg-w"></a>
                    <a href="#" class="ico ico-wt-w"></a>
                    <a href="#" class="ico ico-vb-w"></a>
                </div>
            </div>
        </div>
    </div>
</div>