<div id="faq">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="left-man">
                    <div class="man">
                        <img src="../img/man.png" alt="Помощник" />
                    </div>
                    <div class="block">
                        <div class="name">
                            Егор Иванов
                        </div>
                        <div class="title">
                            Ваш консультант
                        </div>
                        <div class="desc">
                            Оставьте заявку, и я вам позвоню, чтобы уточнить детали. Гарантирую анонимность!
                        </div>
                        <div class="btn-w">
                            <a href="#" class="btn btn-whitefilled btn-wide"><span class="ico ico-left ico-wt-b"></span>WhatsApp</a>
                            <a href="#" class="btn btn-whitefilled btn-wide"><span class="ico ico-left ico-vb-b"></span>Viber</a>
                            <a href="#" class="btn btn-black btn-wide"><span class="ico ico-left ico-category"></span>Каталог</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                faq
            </div>
        </div>
    </div>
</div>