<div id="faq">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="left-man">
                    <div class="man">
                        <img alt="Помощник" src="../img/man.png"/>
                    </div>
                    <div class="block">
                        <div class="name">
                            Егор <span>Иванов</span>
                        </div>
                        <div class="title">
                            Ваш консультант
                        </div>
                        <div class="desc">
                            Оставьте заявку, и я вам позвоню, чтобы уточнить детали. Гарантирую анонимность!
                        </div>
                        <div class="btn-w">
                            <a class="btn btn-whitefilled btn-wide" href="#"><span class="ico ico-left ico-wt-b"></span>WhatsApp</a>
                            <a class="btn btn-whitefilled btn-wide" href="#"><span class="ico ico-left ico-vb-b"></span>Viber</a>
                            <a class="btn btn-black btn-wide" href="#"><span class="ico ico-left ico-category"></span>Каталог</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="faq_spoilers_w">
                    <div class="heading">Вопросы и ответы</div>
                    <div class="spoiler">
                        <div class="spoiler_title">От чего зависит цена на радиодеталь?</div>
                        <div class="spoiler_text">Цена радиодетали зависит от количество содержащегося в ней
                            драгоценного металла. Это может быть золото, серебро, платина, палладий
                        </div>
                    </div>
                    <div class="spoiler">
                        <div class="spoiler_title">Как узнать сколько и какого драгоценного металла находится в
                            детали?
                        </div>
                        <div class="spoiler_text">Процентное содержание металла в детали можно найти в различных
                            справочниках. Но вы можете воспользоваться нашим сайтом, чтобы автоматически рассчитать
                            сумму, которую вы получите за свои детали
                        </div>
                    </div>
                    <div class="spoiler">
                        <div class="spoiler_title">По какому курсу считается цена на радиодеталь?</div>
                        <div class="spoiler_text">Цена на радиодетали формируется исходя из курса на драгоценные металлы
                            биржи London Fix. Обращаем ваше внимание, что цены формируются ежедневно
                        </div>
                    </div>
                    <div class="spoiler">
                        <div class="spoiler_title">Можно ли отправить почтой детали?</div>
                        <div class="spoiler_text">Да конечно, вы можете отправить почтой на наш адрес.</div>
                    </div>
                    <div class="spoiler">
                        <div class="spoiler_title">Какое минимальное количество вы принимаете?</div>
                        <div class="spoiler_text">Минимальной суммы не существует, но, конечно, из-за одного
                            конденсатора мы не приедем.
                        </div>
                    </div>
                    <div class="spoiler">
                        <div class="spoiler_title">Как быстро происходит расчет за детали?</div>
                        <div class="spoiler_text">Расчет происходит сразу на месте после взвешивания и опознания
                            деталей
                        </div>
                    </div>
                    <div class="spoiler">
                        <div class="spoiler_title">Гарантируете ли вы анонимность?</div>
                        <div class="spoiler_text">Абсолютно</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>