<div id="footer">
    <div class="line_orange">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="flex">
                        <div class="text">
                            <span class="ico ico-tel-big"></span>
                            <div>Заказать звонок</div>
                        </div>
                        <div class="news-form">
                            <input type="text" placeholder="Введите свой номер"/>
                            <input type="submit" class="btn btn-black" value="Заказать"/>
                        </div>
                        <div class="contact--footer-block">
                            <div class="text">Мы в мессенджерах:</span></div>
                            <a href="#" class="ico ico-tg-w"></a>
                            <a href="#" class="ico ico-mail-w"></a>
                            <a href="#" class="ico ico-wt-w"></a>
                            <a href="#" class="ico ico-vb-w"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= map.html
    <div class="line_black">
        <div class="container">
            <div class="row">
                <div class="col-3 m-col-3 s-col-12 xs-col-12">
                    <div class="contacts">
                        <span>Контакты</span>
                        <span><a href="tel:89013317104">8(901) 331-71-04</a></span>
                        <span><a href="mailto://info@radiodetali.ru">info@radiodetali.ru</a></span>
                    </div>
                    <div class="contact--footer-block">
                        <div class="text">Мы в мессенджерах:</div>

                        <a href="https://t-do.ru/@radiodetali" target="_blank" class="ico ico-tg-w"></a>
                        <a href="mailto://info@radiodetali.ru" class="ico ico-mail-w" target="_blank"></a>
                        <a class="ico ico-wt-w" href="https://wa.me/79013317104?text=Здравствуйте.%20Хочу%20узнать%20цены%20на%20радиодетали." onclick="ym('XXXXXX'),'reachGoal','whatsapp');VK.Goal('conversion'); return true;" target="_blank"></a>
                        <?php if ($detect->isMobile()) { ?>
                            <a href="viber://add?number=79013317104" target="_blank" onclick="ym('XXXXXX','reachGoal','viber');VK.Goal('conversion'); return true;" class="ico ico-vb-w mobile"></a>
                        <?php } else { ?>
                            <a title="Должен быть установлен вайбер для ПК" href="viber://chat?number=%2B79013317104" target="_blank" onclick="ym('XXXXXX','reachGoal','viber');VK.Goal('conversion'); return true;" class="ico ico-vb-w desktop"></a>
                        <?php } ?>

                    </div>
                </div>
                <div class="col-3 m-col-3 s-col-12 xs-col-12">
                    <div class="address">
                        <div class="ico ico-map-g"></div>
                        <div>Москва, ст. метро «Некрасовка»
                            <span>ул. Недорубова, д. 5</span></div>
                    </div>
                </div>
                <div class="col-3 m-col-2 s-col-12 xs-col-12">
                    <ul class="foot-menu">
                        <li><a href="/">Главная</a></li>
                        <li><a href="#" class="open-popup-cat">Каталог</a></li>
                        <li><a href="/#steps">Как продать</a></li>
                        <li><a href="/price">Прайс лист</a></li>
                        <li><a href="/#about">О нас</a></li>
                    </ul>
                </div>
                <div class="col-3 m-col-4 s-col-12 xs-col-12">
                    <div class="payment-text">
                        Способы оплаты:
                        <span>наличная и безналичная</span>
                        <span>оплата в пунктах приёма</span>
                    </div>
                    <div class="payments">
                        <ul>
                            <li><img src="../img/card-visa.png" alt="visa" /></li>
                            <li><img src="../img/card-mastercard.png" alt="mastercard" /></li>
                            <li><img src="../img/card-bitcoin.png" alt="bitcoin" /></li>
                            <li><img src="../img/card-mir.png" alt="mir" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="scroll-up"></div>

<script src="/libs/js/jquery-3.5.1.min.js"></script>
<script src="/libs/js/swiper-bundle.min.js" type="module"></script>
<script src="/libs/js/jquery.fancybox.min.js" type="module"></script>
<script src="/libs/js/relax.min.js" type="module"></script>
<script src="/libs/js/jquery.scrollto.min.js" type="module"></script>
<script src="/libs/js/jquery.custom-select.js" type="module"></script>
<!--<script src="/libs/js/gsap.min.js" type="module"></script>-->


<script src="js/main.js"></script>