<div id="footer">
    <div class="line_orange">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="flex">
                        <div class="text">
                            <span class="ico ico-mail-big"></span>
                            <div>Подпишитесь на <span>новостную рассылку</span></div>
                        </div>
                        <div class="news-form">
                            <input type="text" placeholder="Введите свой email"/>
                            <input type="submit" class="btn btn-black" value="Подписаться"/>
                        </div>
                        <div class="contact--footer-block">
                            <div class="text">Мы в мессенджерах:</span></div>
                            <a href="#" class="ico ico-tg-w"></a>
                            <a href="#" class="ico ico-mail-w"></a>
                            <a href="#" class="ico ico-wt-w"></a>
                            <a href="#" class="ico ico-vb-w"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line_black">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="copy">
                        ООО «БАРЫГА»
                        (ОГРН 6665902011301)
                        по свидетельствам №666666666<br/> и №66666.
                    </div>
                    <div class="contacts">
                        (3452) 54-93-03, 8 (3452) 54-99-77
                        info@baryga.ru<br/>
                        Контакты
                    </div>
                </div>
                <div class="col-3">
                    <div class="address">
                        <div class="ico ico-map-g"></div>
                        <div>Москва, Варшавское шоссе
                            <span>145 корпус 2, Метро Аннино</span></div>
                    </div>
                </div>
                <div class="col-3">
                    <ul class="foot-menu">
                        <li><a href="#">Интернет-сделка</a></li>
                        <li><a href="#" class="open-popup-cat">Каталог</a></li>
                        <li><a href="#">Как заказать</a></li>
                        <li><a href="#">Пункты приёма</a></li>
                        <li><a href="#">Продавцам</a></li>
                        <li><a href="#">Партнерам</a></li>
                        <li><a href="#">О нас</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <div class="payment-text">
                        Способы оплаты:
                        <span>наличная и безналичная</span>
                        <span>оплата в пунктах приёма</span>
                    </div>
                    <div class="payments">
                        <ul>
                            <li><img src="../img/card-visa.png" alt="visa" /></li>
                            <li><img src="../img/card-mastercard.png" alt="mastercard" /></li>
                            <li><img src="../img/card-bitcoin.png" alt="bitcoin" /></li>
                            <li><img src="../img/card-mir.png" alt="mir" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/libs/js/jquery-3.5.1.min.js"></script>
<script src="/libs/js/swiper-bundle.min.js" type="module"></script>
<script src="/libs/js/jquery.fancybox.min.js" type="module"></script>
<script src="/libs/js/relax.min.js" type="module"></script>
<script src="/libs/js/jquery.scrollto.min.js" type="module"></script>
<script src="/libs/js/jquery.custom-select.js" type="module"></script>
<!--<script src="/libs/js/gsap.min.js" type="module"></script>-->


<script src="js/main.js"></script>