<header id="header">
    <div class="topmenu-w">
        <div class="container">
            <div class="row">
                <div class="col-12 topmenu">
                    <a class="btn-burger" href="javascript:;"><span></span></a>
                    <div class="menu">
                        <ul>
                            <li><a class="active" href="/">Главная</a></li>
                            <li><a href="/#howtosell">Как продать</a></li>
                            <li><a href="/#payment">Способы оплаты</a></li>
                            <li><a href="/#about">О нас</a></li>
                            <li><a href="/#contacts">Контакты</a></li>
                        </ul>
                    </div>
                    <div class="top-dds-w">
                        <div class="dd">
                            <div class="dd-label dd-ico ico-map">Москва</div>
                            <div class="dd-list">
                                <ul>
                                    <li class="active">Москва</li>
                                    <li>Краснодар</li>
                                </ul>
                            </div>
                        </div>
                        <div class="dd">
                            <div class="dd-label dd-ico ico-metro">Метро</div>
                            <div class="dd-list">
                                <ul>
                                    <li class="active">Метро</li>
                                    <li>Библиотека им. Ленина</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a class="ico ico-mail" href="mailto:info@radiodetali.ru"></a>
                    <a class="btn btn-top-m" href="javascript:;">Заказать звонок</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header flex">
                    <div class="logo-w">
                        <a class="logo" href="/"></a>
                    </div>
                    <div class="header-right">
                        <a class="btn btn-ico btn-black btn-animated" href="/category.html"><span
                                class="ico ico-category ico-left"></span>Каталог</a>
                        <div class="header-seo-text">
                            Закупаем радиолом в Москве <span>и Московской области</span>
                        </div>
                        <div class="header_contacts">
                            <a class="h_contacts_wt" href="javascript:;"><span class="ico ico-wt-big ico-left"></span>WhatsApp</a>
                            <a class="h_contacts_vb" href="javascript:;"><span class="ico ico-vb-big ico-left"></span>Viber</a>
                            <a class="h_contacts_tel" href="tel:89013317104"><span
                                    class="ico ico-tel-big ico-left"></span>+7
                                901 331 71 04</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>