<header id="header">
    <div class="topmenu-w">
        <div class="container">
            <div class="row">
                <div class="col-12 topmenu">
                    <a class="btn-burger" href="javascript:;"><span></span></a>
                    <div class="menu">
                        <ul>
                            <li><a class="active" href="/">Главная</a></li>
                            <li><a href="/#howtosell">Как продать</a></li>
                            <li><a href="/#payment">Способы оплаты</a></li>
                            <li><a href="/#about">О нас</a></li>
                            <li><a href="/#contacts">Контакты</a></li>
                        </ul>
                    </div>
                    <div class="top-dds-w">
                        <div class="dd">
                            <div class="dd-label dd-ico ico-map">Москва</div>
                            <div class="dd-list">
                                <ul>
                                    <li class="active">Москва</li>
                                    <li>Краснодар</li>
                                </ul>
                            </div>
                        </div>
                        <div class="dd">
                            <div class="dd-label dd-ico ico-metro">Метро</div>
                            <div class="dd-list">
                                <ul>
                                    <li class="active">Метро</li>
                                    <li>Библиотека им. Ленина</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a class="ico ico-mail" href="mailto:info@radiodetali.ru"></a>
                    <a class="btn btn-top-m" href="javascript:;">Заказать звонок</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header flex">
                    <div class="logo-w">
                        <a class="logo" href="/"></a>
                    </div>
                    <div class="header-right">
                        <a class="btn btn-ico btn-black btn-animated" href="/category.html"><span
                                class="ico ico-category ico-left"></span>Каталог</a>
                        <div class="header-seo-text">
                            Закупаем радиолом в Москве <span>и Московской области</span>
                        </div>
                        <div class="header_contacts">
                            <a class="h_contacts_wt" href="javascript:;"><span class="ico ico-wt-big ico-left"></span>WhatsApp</a>
                            <a class="h_contacts_vb" href="javascript:;"><span class="ico ico-vb-big ico-left"></span>Viber</a>
                            <a class="h_contacts_tel" href="tel:89013317104"><span
                                    class="ico ico-tel-big ico-left"></span>+7
                                901 331 71 04</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="cat_popup_menu">
    <div class="close_btn"></div>
    <div class="flex">
        <div>
            <div class="header">Радиодетали</div>
            <ul>
                <li><a href="/katalog/kondensatory/">Конденсаторы</a></li>
                <li><a href="/katalog/diody/">Диоды</a></li>
                <li><a href="/katalog/pereklyuchateli/">Переключатели</a></li>
                <li><a href="/katalog/potenciometry/">Потенциометры</a></li>
                <li><a href="/katalog/metally/">Металлы платиновой группы</a></li>
                <li><a href="/katalog/mikroshemy/">Микросхемы</a></li>
                <li><a href="/katalog/lampy/">Лампы</a></li>
                <li><a href="/katalog/rele/">Реле</a></li>
                <li><a href="/katalog/tranzistory/">Транзисторы</a></li>
                <li><a href="/katalog/rezistory/">Резисторы</a></li>
                <li><a href="/katalog/platy/">Платы</a></li>
                <li><a href="/katalog/protivogazy/">Противогазы</a></li>
                <li><a href="/katalog/serebro/">Серебро техническое</a></li>
                <li><a href="/katalog/radiolom/">Радиолом</a></li>
                <li><a href="/katalog/razyomy/">Разъемы</a></li>
            </ul>
        </div>
        <div>
            <div class="header">Радиоприборы</div>
            <ul>
                <li><a href="/katalog/analizator/">Анализатор</a></li>
                <li><a href="/katalog/attenyuator/">Аттенюатор</a></li>
                <li><a href="/katalog/blok-pitaniya/">Блок питания</a></li>
                <li><a href="/katalog/voltmetr/">Вольтметр</a></li>
                <li><a href="/katalog/generator/">Генератор</a></li>
                <li><a href="/katalog/izmeritel/">Измеритель</a></li>
                <li><a href="/katalog/izmeritel-achh/">Измеритель АЧХ</a></li>
                <li><a href="/katalog/ksvn-izmeritel/">КСВН измеритель</a></li>
                <li><a href="/katalog/osczillograf/">Осциллограф</a></li>
                <li><a href="/katalog/pribor/">Приборы и блоки</a></li>
                <li><a href="/katalog/chastotomer/">Частотомер</a></li>
            </ul>
        </div>
    </div>
</div>