
<div id="cat_popup_menu" class="">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="close_btn">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.7046 15.6062C14.2297 16.1312 15.0811 16.1312 15.6062 15.6062C16.1313 15.0811 16.1313 14.2297 15.6062 13.7046L9.90156 8L15.6062 2.29539C16.1313 1.77029 16.1313 0.918946 15.6062 0.39385C15.0811 -0.131246 14.2297 -0.131246 13.7046 0.39385L8.00001 6.09846L2.29537 0.393822C1.77027 -0.131274 0.918921 -0.131274 0.393824 0.393822C-0.131273 0.918918 -0.131273 1.77027 0.393824 2.29536L6.09847 8L0.393823 13.7046C-0.131274 14.2297 -0.131274 15.0811 0.393823 15.6062C0.91892 16.1313 1.77027 16.1313 2.29537 15.6062L8.00001 9.90154L13.7046 15.6062Z" fill="white"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="name">РАДИОДЕТАЛИ</div></div>
                <div class="col-6">
                    <div class="name">РАДИОПРИБОРЫ</div></div>
            </div>
        </div>
    </header>
    <div class="lined">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <ul>
                        <li><a href="/category.html">TEST</a></li>
                        <li><a href="/katalog/kondensatory/">Конденсаторы</a></li>
                        <li><a href="/katalog/diody/">Диоды</a></li>
                        <li><a href="/katalog/pereklyuchateli/">Переключатели</a></li>
                        <li><a href="/katalog/potenciometry/">Потенциометры</a></li>
                        <li><a href="/katalog/metally/">Металлы платиновой группы</a></li>
                        <li><a href="/katalog/mikroshemy/">Микросхемы</a></li>
                        <li><a href="/katalog/lampy/">Лампы</a></li>
                        <li><a href="/katalog/rele/">Реле</a></li>
                        <li><a href="/katalog/tranzistory/">Транзисторы</a></li>
                        <li><a href="/katalog/rezistory/">Резисторы</a></li>
                        <li><a href="/katalog/platy/">Платы</a></li>
                        <li><a href="/katalog/protivogazy/">Противогазы</a></li>
                        <li><a href="/katalog/serebro/">Серебро техническое</a></li>
                        <li><a href="/katalog/radiolom/">Радиолом</a></li>
                        <li><a href="/katalog/razyomy/">Разъемы</a></li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul>
                        <li><a href="/katalog/analizator/">Анализатор</a></li>
                        <li><a href="/katalog/attenyuator/">Аттенюатор</a></li>
                        <li><a href="/katalog/blok-pitaniya/">Блок питания</a></li>
                        <li><a href="/katalog/voltmetr/">Вольтметр</a></li>
                        <li><a href="/katalog/generator/">Генератор</a></li>
                        <li><a href="/katalog/izmeritel/">Измеритель</a></li>
                        <li><a href="/katalog/izmeritel-achh/">Измеритель АЧХ</a></li>
                        <li><a href="/katalog/ksvn-izmeritel/">КСВН измеритель</a></li>
                        <li><a href="/katalog/osczillograf/">Осциллограф</a></li>
                        <li><a href="/katalog/pribor/">Приборы и блоки</a></li>
                        <li><a href="/katalog/chastotomer/">Частотомер</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="flex get_price_w">
                        <a href="#" class="get_price"><span class="ico ico-list ico-left"></span>Скачать прайс</a>
                    </div>
                </div>
                <div class="col-3"></div>
                <div class="col-3">
                    <div class="contact--footer-block">
                        <div class="text">Написать напрямую</div>
                        <div class="btns">
                            <a href="#" class="ico ico-tg-w"></a>
                            <a href="#" class="ico ico-wt-w"></a>
                            <a href="#" class="ico ico-vb-w"></a>
                            <a href="#" class="ico ico-mail-w"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </footer>
</div>