<div id="slider">
    <div class="container">
        <div class="row">
            <div class="col-6 m-col-del s-col-del xs-col-del">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide animated">
                            <div class="title">Только между нами...</div>
                            <div class="desc">
                                Полная тайна сделки, и гарантия на сохранение конфеденциальности. О деталях будете знать только вы.
                            </div>
                            <div class="img_w">
                                <img src="/img/banner/1.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="title">Продавайте радиодетали
                                с выгодой!</div>
                            <div class="desc">
                                Полная тайна сделки, и гарантия на сохранение конфеденциальности. О деталях будете знать только вы.
                            </div>
                            <div class="img_w">
                                <img src="/img/banner/2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 m-col-12 s-col-12 xs-col-12 calc-w">
                //= calcform.html
            </div>
        </div>
    </div>

</div>