<div id="steps">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading">Три простых шага и деньги в кармане</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="flex">
                    <div class="step1">
                        <div class="img">
                            <img src="../img/steps1.svg" alt="Отправить фото" />
                        </div>
                        <div class="title">
                            Отправить фотографию <span>специалисту</span>
                        </div>
                        <div class="desc">
                            Для оценки вашего предложения, просто высылайте нам фотографию с описанием на любой месенджер или электронную почту.
                        </div>
                        <div class="btn-w">
                            <a href="#" class="btn btn-white"><span class="ico ico-left ico-wt-b"></span>WhatsApp</a>
                            <a href="#" class="btn btn-white"><span class="ico ico-left ico-vb-b"></span>Viber</a>
                        </div>
                    </div>
                    <div class="step2">
                        <div class="img">
                            <img src="../img/steps2.svg" alt="Оценка эксперта" />
                        </div>
                        <div class="title">
                            Оценка эксперта <span>лаборатории</span>
                        </div>
                        <div class="desc">
                            Закажите звонок эксперту  лаборатории идоговоритесь о  проведении экспертизы. Это  точно определит объем сделки.
                        </div>
                        <div class="btn-w">
                            <a href="#" class="btn btn-white"><span class="ico ico-left ico-ring"></span>Заказать звонок</a>
                        </div>
                    </div>
                    <div class="step3">
                        <div class="img">
                            <img src="../img/steps3.svg" alt="Получить деньги" />
                        </div>
                        <div class="title">
                            Получить деньги <span>на месте</span>
                        </div>
                        <div class="desc">
                            Наличными или на счет, как вам удобно. Выплата  на месте без ограничений по сумме.
                        </div>
                        <div class="btn-w">
                            <a href="#" class="btn btn-white"><span class="ico ico-left ico-list-b"></span>Скачать прайс</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>