@import "variables";
@import "parts/_reset";
@import "parts/_utils";
@import "parts/_grid";
@import "parts/_buttons";
@import "parts/_header";
@import "parts/_forms";
@import "parts/_slider";
@import "parts/_calcform";
@import "parts/_mod_cats_slider";
@import "parts/_mod_3_steps";
@import "parts/_faq";
@import "parts/_contact_block";
@import "parts/_about";
@import "parts/_map";
@import "parts/_category";
@import "parts/_leftmenu";
@import "parts/_list";
@import "parts/_popupmenu";
@import "parts/_footer";
@import "parts/_mobile";

body{
  //background: url('../img/temp2.jpg') center 0 no-repeat;
  font-family: 'Roboto', sans-serif;
}
a{
 &:focus,
 &:active
 {
   outline: none;
 }
}

.alert{
  position: fixed;
  width: 300px;
  right: 5%;
  top: 10%;
  color: #fff;
  padding: 20px 30px;
  z-index: 999999;
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgba(#000,0.1);
  animation: 3s fadeInOut;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
  text-align: center;
  &.default{
    background: #2C2C2C;
    color: #fff;
  }
  &.success{
    background: #2ecc71;
  }
  &.error{
    background: red;
  }
  a{
    color: #fff;
    display: inline-block;
    margin-top: 10px;
  }

  .closebtn{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 16px;
    height: 16px;
    background: url("../img/ico-close-w-16-16.svg") 0 0 no-repeat;
  }
}

@keyframes fadeInOut {
  0% {opacity: 0}
  5% {opacity: 1}
  95% {opacity: 1}
  100% {opacity: 0}
}